
/* RESPONSIVE L*/

@media (max-width: 1180px){
    .container{
        width: 100%;
    }
}






/* RESPONSIVE M */
@media (max-width:768px){


    /* LAYOUT */
        .container{
            width: 100%;
            margin: 0 auto;
        }
    
        .row{
            flex-wrap: wrap;
        }
    
    
    
    /* HEADER */
    
    
    /* LESSONS SECTION */
    
    
    
    
    /* STEPS SECTION */
    
    
    
    /* WHY US SECTION */
    
    
    }
    


/* RESPONSIVE S */



@media (max-width:480px){

    /* LAYOUT */

    .row {
        flex-wrap: wrap;
        row-gap: 50px;
    }
    
    /* HEADER */



    /* LESSONS SECTION */

    .lessons .col{
        width: calc(12 * 100% / 12);
    }
    

    h2{
        max-width: 100%;
    }

    .lessons .col{
        width: calc(12 * 100% / 12);
    }


    /* STEPS SECTION */  
    .steps .col{
        width: 100%;
    }

    .steps{
        margin: 3rem 0 0 0;
    }


    /* WHY US SECTION */

    .why-us .col{
        width: 100%;
    }

    .why-us{
        background-color: black;
        margin-bottom: 0;
        padding-top: 3rem;
    }



}
